/*extra small*/
@media (max-width: 768px) {
  #nav {
    width: 100%;
    left: 0;
    /* margin-top:10px; */
  }

  #nav .menu {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99;
    width: calc(100% - 10px);
    top: 56px;
    left: 5px;
    border-radius: 9px;
  }

  #nav .menu.active {
    display: block;
    box-shadow: 1px 3px 14px #0000005c;
  }

  #nav .menu ul li {
    position: relative;
    display: block;
    float: none;
    color: #000;
  }

  #nav .logo {
    /* width: 100%; */
    background-size: contain;
    background-position: left;
     width: 140px;
    height: 61px;
       
  }

  #nav .menu.right {
    display: block;
    position: relative;
    top: 0;
    background: no-repeat;
    width: 100%;
    height:1px;
  }

  #nav .menu.right li {
    width: auto;
    /* float: left; */
    margin: 0 6px;
    color: #fff;
  }

  #nav .menu.right .icononly {
    display: block !important;
    float: right;
    top:-50px;
  }

  #banner {
    padding: 10px;
  }

  #banner .search .button.submit {
    width: 100%;
  }

  #features {
    padding: 10px;
  }

  #features .header {
    border-right: 0;
  }

  #flight_deals {
    padding: 15px;
  }

  #features .header {
    margin-top: 25px;
  }

  #top_flights {
    padding: 10px;
  }

  #cruise_deals {
    padding: 10px;
  }

  #packages {
    padding: 10px;
  }

  #about {
    padding: 15px;
  }

  #about .gutter{
    padding: 5px;
  }

  #footer {
    padding: 15px;
  }

  #features .header {
    border-radius: 12px;
  }

  #footer ul.logos{
    text-align: center;
  }
}

